* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.image {
    width: 100%;
}

.image.charm {
    animation: charm-spin 10s linear infinite;
}

.image.charm.reverse {
    animation: charm-spin 10s linear reverse infinite;
}

.service-img {
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.scale-in {
    /* animation: scale-in 0.5s ease-in-out; */
}

@keyframes charm-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes scale-in {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}