* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.image {
    width: 100%;
}

.service-img {
    aspect-ratio: 16 / 9;
    object-fit: cover;
}