* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overscroll-behavior: none;
}

a {
    text-decoration: none;
}

.image {
    width: 100%;
}

.service-img {
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--mui-palette-background-paper) inset !important;
  -webkit-text-fill-color: var(--mui-palette-text-primary) !important;
  transition: background-color 9999s ease-in-out 0s;
}